<?xml version="1.0" encoding="UTF-8"?>
<checkstyle version="8.29">
<file name="C:\Users\Pablo\Desktop\Tika\tika\tika-core\src\main\java\org\apache\tika\language\LanguageProfilerBuilder.java">
</file>
<file name="C:\Users\Pablo\Desktop\Tika\tika\tika-core\src\main\java\org\apache\tika\metadata\XMPDM.java">
</file>
<file name="C:\Users\Pablo\Desktop\Tika\tika\tika-core\src\main\java\org\apache\tika\metadata\XMPMM.java">
</file>
<file name="C:\Users\Pablo\Desktop\Tika\tika\tika-core\src\main\java\org\apache\tika\mime\MimeTypes.java">
</file>
</checkstyle>
